body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 0 .7rem;
    border-radius: 5px;
    font-size: .875rem;
    font-weight: 550;
}

.btn:hover {
    cursor: pointer;
}

input[type=text], select {
    padding: .1rem .5rem;
    font-weight: 550;
    font-size: .875rem;
}